body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

@media all and (max-width: 960px) {
  body {
    font-size: small;
  }
}

#header {
  background-color: #fdfdfd;
}

#header li:hover {
  background-color: #f5fab7;
}

@media all and (max-width: 768px) {
  .marcainstitucional {
    width: 20;
    height: auto;
  }
}

@media all and (max-width: 960px) {
  .marcainstitucional {
    width: 40;
    height: auto;
  }
}

#portada-choque {
  background-color: #fdfdfd;
  background-image: url(../assets/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
  padding-top: 0px;
}

@media all and (max-width: 960px) {
  #portada-choque {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

@media all and (max-width: 768px) {
  #portada-choque {
    width: 100%;
    height: 200px;
    background-size: cover;
  }
  #portada-choque h1 {
    font-size: medium;
  }
}

#img-port {
  width: 100%;
  height: 600px;
  background-size: cover;
}

@media all and (max-width: 992px) {
  #img-port {
    width: 1000px;
    height: 500px;
  }
}

@media all and (max-width: 576px) {
  #img-port {
    width: 600px;
    height: 300px;
  }
}

@media all and (max-width: 393px) {
  #img-port {
    width: 400px;
    height: 150px;
  }
}

#Form, #nosotros, #sumate, #card-galeria {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2377767c' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#Form, #nosotros, #sumate, #card-galeria, #nosotros, #sumate, #sumate, #card-galeria {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2377767c' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding-top: 20px;
}

.importante {
  background-color: #20a6b8;
  border-radius: 10px;
}

.importante:p {
  margin: 20px;
  color: white;
  padding: 10px;
}

.importante p {
  margin: 20px;
  color: white;
  padding: 10px;
}

.cuestionario {
  background-color: #f9fee5;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%2369d1de' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.cuestionario-p {
  margin: 20px;
  padding-top: 20px;
}

.cuestionario p {
  font-size: 1.5rem;
}

#nosotros, #sumate {
  font-size: 1rem;
  padding: 0px;
}

.accordion-item1 {
  color: #1a26da;
}

.accordion-item2 {
  color: #278a2c;
}

.accordion-item3 {
  color: #d455ee;
}

#card-galeria {
  justify-content: center;
  align-items: center;
}

#card-galeria img {
  height: 350px;
  width: 275px;
  object-fit: cover;
}

#card-galeria img:hover {
  transform: scale(1.1);
}

.card {
  margin: 30px;
  width: 260px;
  padding: 0px;
  height: 660px;
}

@media all and (max-width: 992px) {
  .card-body {
    font-size: medium;
  }
}

@media all and (max-width: 576px) {
  .card-body {
    font-size: large;
  }
}

#voluntarios {
  justify-content: center;
}

.card-voluntarios {
  margin: 30px;
  width: 30rem;
  padding: 0px;
  height: 660px;
  background-color: white;
  border-radius: 1px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

@media all and (max-width: 576px) {
  .card-body {
    font-size: medium;
  }
}
/*# sourceMappingURL=estilos.css.map */